
h1{font:54px arial;}

body{background:black;color:white;text-align:center;
  font:24px arial;color:#735DB5;text-shadow:1px 1px 3px #000;}
#moon{background-color:white;
  height:50px;
  width:50px;
  position:absolute;
}
#crater{background: rgba(0,0,0,0.05);
  position:relative;
  height:30px;
  width:30px;
  margin-left:20px;
  margin-top:15px;
}
#moon,#crater,#sun{
  border-radius:50%;
}
#sun{
  background-color:yellow;
  height:50px;
  width:50px;
  position:absolute;
}
#ray,#ray1,#ray2,#ray3{
  position:relative;
  background-color:orange;
  height:50px;
  width:50px;
  animation-name: shine;
  animation-iteration-count: infinite;
  z-index:-1;
}
#ray{
  animation-duration: 14s;
  animation-timing-function: ease-out;
}
#ray1{
  animation-duration: 12s;
  animation-timing-function: ease-in;
}
#ray2{
  animation-duration: 8s;
  animation-timing-function: linear;
}
#ray3{
  animation-duration: 4s;
  animation-timing-function: linear;
}
@keyframes shine{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#star1,#star2,#star3,#star4,#star5{
  position:relative;
  background-color:white;
  height:1px;
  width: 1px;
  animation-name:sparkle;
  animation-iteration-count:infinite;
  animation-timing-function: ease;
}

#star1{
  margin-left:-4%;
  animation-duration: 5s;
}
#star2{
  margin-left:115%;
  margin-top:-75%;
  animation-duration: 3s;
}
#star3{
  margin-left:100%;
  margin-top:-40%;
  animation-duration: 4s;
}
#star4{
  margin-left:-7%;
  animation-duration:2s;
}
#star5{
  margin-left:-25%;
  margin-top:20%;
  animation-duration:1s;
}
@keyframes sparkle{
  0%{background-color:#DDD;}
  25%{background-color:#AAA;}
  50%{background-color:#999;}
  75%{background-color:#555;}
  100%{background-color:#CCC;}
}
#w{padding-top:10%;}
#all{margin-left:48%;margin-right:48%;margin-top:4%;}
#cloud{
  z-index:1;
  background:#DADADA;
  width:30px;
  height:20px;
  padding:1%;
  border-top-right-radius:50%;
  border-top-left-radius:100%;
  border-bottom-right-radius:100%;
  border-bottom-left-radius:60%;
  position:absolute;
  animation-name:float;
  animation-duration:5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease;
}
#cloud1{
  z-index:-1;
  position:relative;
  background:#DFDFDF;
  width:70px;
  height:30px;
  padding:1%;
  margin-left:-4px;
  margin-top:3px;
  border-top-right-radius:40%;
  border-top-left-radius:70%;
  border-bottom-right-radius:60%;
  border-bottom-left-radius:30%;
}
#cloud2{
  position:relative;
  background:#DEDEDE;
  width:55px;
  height:50px;
  padding:1%;
  margin-left:5px;
  margin-top:-24px;
  border-top-right-radius:100%;
  border-top-left-radius:100%;
  border-bottom-right-radius:100%;
  border-bottom-left-radius:70%;
}
@keyframes float{
  0%{margin-left:-1%;}
  25%{margin-left:-1.5%;}
  50%{margin-left:-1.75%;}
  75%{margin-left:-1.5%;}
  100%{margin-left:-1%;}
}
#rain{
  position:relative;
  z-index:-1;
  border-left:2px dotted #44F;
  border-right:2px dotted #44F;
  height:10px;
  width:20px;
  margin-top:45px;
  transform:rotate(20deg);
  padding-top:50px;
  transitionY:5px;
  animation-name:drip;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function: ease;
}
#rain1{
  border-left:2px dotted #44F;
  border-right:2px dotted #44F;
  height:5px;
  width:20px;
  margin-top:-55px;
  margin-left:10px;
  padding-top:50px;
  transitionY:5px;
}
@keyframes drip{
  0%{margin-top:75%;}
  25%{margin-top:70%;}
  50%{margin-top:75%;}
  75%{margin-top:70%;}
  100%{margin-top:75%;}
}

#bolts{margin-top:-240%;}
#bolt{
  transform:rotate(50deg);
  border-top-right-radius:100%; 
position:absolute;}
#bolt,#bolt1,#bolt2{
  background:yellow;
  height:15px;
  width:10px;
  padding:2px;
  animation-name:strike;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function: ease;
}
#bolt1,#bolt2{
  margin-left:7px;
  margin-top:7px;
}
#bolt2{
  border-bottom-left-radius:100%;
}
@keyframes strike{
  0%{background-color:#FEFE2D;}
  25%{background-color:#FFFF51;}
  50%{background-color:#FFFF75;}
  75%{background-color:#FFFFA1;}
  100%{background-color:#FFF;}
}
